{% extends 'base.html' %}
{% block content %}

<h3>About us</h3>
<hr>
<p> Dealing into ready-made apparels are the ready-made garment retailers that sell off their merchandise through retail stores. Work wear, uniform, leisure garments, sportswear or jersey goods, there is a ready-made garment store for every requirement. There are a large number of Readymade Garment Retailers in Surat that have been looking after the latest trends and fashion needs of the citizens. Some of these garments business houses are also selling off their products through various online shopping websites thus reaching out to more number of customers. Unlimited collections, infinite styles and stunning colours that these ready garments business stores present, make them so popular with their customers. There is a dress for any occasion appropriate for gents, ladies and kids. An extravagant shopping or a sudden spree, these ready-made garment shops are visited by both the segments. The page above offers access to the best ready-made garment retailers from the area.</p>

{% endblock %}